<!DOCTYPE HTML>
<html>

<head>
    <title>Editor</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/custom.css" />
    <noscript>
        <link rel="stylesheet" href="/css/noscript.css" /></noscript>
</head>

<body class="is-preload-0 is-preload-1 is-preload-2">

    <!-- Main -->
    <div id="main">

        <!-- Header -->
        <header id="header">
            <h1>CMS Titulacion</h1>
            <input id="titlePost" type="text">
            <button onclick="savePost()">Save Post</button>
        </header>

        <!-- Thumbnail -->
        <section id="thumbnails">
            <% imgs.forEach(function(image) { %>
                <article>
                        <a class="thumbnail" href="<%= image.src %>" data-position="left center"><img src="<%= image.src %>"
                                alt="" /></a>
                        <h2>Memes</h2>
                        <p><%= image.tags %></p>
                        <button onclick="stageImg('<%= image.src %>')" class="right-align">Save</button>
                    </article>
            <% }); %>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <ul class="copyright">
                <li>&copy; G-Tec.</li>
                <li>Design: <a href="http://html5up.net">HTML5 UP</a>.</li>
            </ul>
        </footer>

    </div>

    <!-- Scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/browser.min.js"></script>
    <script src="/js/breakpoints.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/image-post.js"></script>

</body>

</html>